
AnimaWiki/AnimaWiki/AnimalModels/AssemblyInfo.cs
AnimaWiki/AnimaWiki/AssemblyInfo.cs
AnimaWiki/AnimaWiki/bin/Debug/netcoreapp3.1/AnimaWiki.dll
AnimaWiki/AnimaWiki/bin/Debug/netcoreapp3.1/AnimaWiki.pdb
AnimaWiki/.vs/AnimaWiki/v16/.suo
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.csproj.CoreCompileInputs.cache
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.dll
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.g.resources
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.pdb
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki_MarkupCompile.cache
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki_MarkupCompile.i.cache
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/MainWindow.baml
AnimaWiki/AnimaWiki/AnimalModels/AssemblyInfo.cs
AnimaWiki/AnimaWiki/bin/Debug/netcoreapp3.1/AnimaWiki.dll
AnimaWiki/AnimaWiki/bin/Debug/netcoreapp3.1/AnimaWiki.pdb
AnimaWiki/.vs/AnimaWiki/v16/.suo
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.csproj.CoreCompileInputs.cache
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.dll
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.g.resources
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki.pdb
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki_MarkupCompile.cache
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/AnimaWiki_MarkupCompile.i.cache
AnimaWiki/AnimaWiki/obj/Debug/netcoreapp3.1/MainWindow.baml
AnimaWiki/.vs/AnimaWiki/v16/Server/sqlite3/db.lock
